body {
  background-color: #89ABE3FF;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.Flex {
  color: white;
  background-image: linear-gradient(#ffa8f9, #EA738DFF);
  width: 600px;
  height: 520px;
  margin-top: 30px;
  border-radius: 15px;
  border: 2px solid #ee0fc5;
  box-shadow: 0 0.1px 8px rgba(255, 255, 255, 0.465);
}

.welMargin {
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.Account {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}
